.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
}
.sidenav i{
    margin-left: 1%;
}
.menu{
    margin-top: 1%;
    margin-left: 1%;
}
.router-outlet-container{
    margin-left: 1%;
    margin-right: 1%;
}
.toolbar-menu{
    position: fixed;
    z-index: 10;
}