<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <mat-icon>home</mat-icon>&nbsp;Home
      </a>
      <a mat-list-item routerLink="tecnicos">
        <mat-icon>account_circle</mat-icon>&nbsp;Técnicos
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>person</mat-icon>&nbsp;Clientes
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>live_help</mat-icon>&nbsp;Ajuda
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>logout</mat-icon>&nbsp;Logout
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar>
      <button mat-raised-button (click)="drawer.toggle()" class="menu mat-elevation-z8">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <br>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>