.card-th{
    background-color: white;
    color: black;
    font-family: 'Poppins';
    margin: 1%;
    flex: 1 1 10%;
}
.card-infos{
    background-color: white;
    color: black;
    font-family: 'Poppins';
    margin: 1%;
    flex: 1 1 10%;
    text-align: center;
}

.card-infos:hover{
    
    transition: all 0.75s ease 0s;
    transform: translateY(-10%);
}
.card-father{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}