<div class="container">
    <mat-card class="card-login">
        <img mat-card-image src="./assets/imagens/animation_300.gif" alt="Photo of a Shiba Inu">
        <mat-card-title class="card-title">Sistema Servicedesk</mat-card-title>
        <br>
        <form class="form">
            <mat-form-field class="full-width" appearance="fill" color="accent">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. exemplo@exemplo.com.br">
            </mat-form-field>
            <br>
            <mat-form-field class="full-width" appearance="fill" color="accent">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Ex. 1234">
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button class="btn-entrar">ENTRAR&nbsp;<mat-icon>login</mat-icon></button>
        </form>
    </mat-card>
</div>